@page "/rashod"
@using ERacuniNovi.Shared.Models
@using ERacuniNovi.Shared.Konvertor
@using Radzen
@using Grpc.Core
@using System.Diagnostics
@using Radzen.Blazor
@using BillsNamespace
@using ERacuniNovi.Client.Components
@using Blazored.FluentValidation
@inject BillsNamespace.BillProtoServis.BillProtoServisClient ServiceBill
@inject ConvertGRPC ServiceConvert

<head>
    <link rel="stylesheet" href="_content/Radzen.Blazor/css/default-base.css">

    <style type="text/css">
        .ui-datatable td {
            padding: 0px;
        }
    </style>

</head>

<!-- #region Dodavanje racuna -->
<div class="p-4 rounded-lg shadow-inner">
    <MatAccordion>
        <MatExpansionPanel @bind-Expanded="@showMatExpansionPanel">
            <MatExpansionPanelSummary>
                <MatExpansionPanelHeader><b>Dodaj rashod</b></MatExpansionPanelHeader>
            </MatExpansionPanelSummary>
            <MatExpansionPanelDetails>
                <RadzenFieldset Text="DODAJ RASHOD">
                    <EditForm Model="@RacunZaSlanje" OnValidSubmit="SubmitRacun">


                        <div class="row" style="margin-bottom:10px; margin-top:10px">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Naziv racuna" />
                            </div>
                            <div class="col-md-8">
                                <RadzenTextBox style="width: 100%;" Name="Naziv" @bind-Value="RacunZaSlanje.Naziv" />
                                <ValidationMessage For="@(() => RacunZaSlanje.Naziv)" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-top:10px">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Datum slanja" />
                            </div>
                            <div class="col-md-8">
                                <RadzenDatePicker style="width: 100%;" Name="DatumSlanja" @bind-Value="RacunZaSlanje.DatumSlanja" />
                                <ValidationMessage For="@(() => RacunZaSlanje.DatumSlanja)" />
                            </div>
                        </div>

                        <div class="row" style="margin-bottom:10px; margin-top:10px">
                            <div class="col-md-4 align-items-center d-flex">
                                <RadzenLabel Text="Rashod" />
                            </div>
                            <div class="col-md-8">
                                <RadzenNumeric style="width: 100%;" Name="Rashod" @bind-Value="RacunZaSlanje.Rashod" />
                                <ValidationMessage For="@(() => RacunZaSlanje.Rashod)" />
                            </div>
                        </div>
                        <div class="row" style="margin-bottom:10px; margin-top:10px;">
                            <div class="col-md-4 align-items-center d-flex">
                                <MatButton Style="margin-right:10px;" @onclick="CancelSubmitRacun" Icon="cancel" Outlined="true">Otkazi</MatButton>
                                <MatButton Style="margin-left:10px;" Icon="done" @onsubmit="SubmitRacun" Raised="true">Sacuvaj</MatButton>
                            </div>
                        </div>
                    </EditForm>
                </RadzenFieldset>
            </MatExpansionPanelDetails>
        </MatExpansionPanel>
    </MatAccordion>
</div>

<!-- #endregion -->

<!-- #region Prikazivanje Racuna u tabeli -->

@if (ListaRacuna.Count == 0)
{
    <MatProgressBar Indeterminate="true"></MatProgressBar>
}
else

{
    <div class="p-4 shadow-inner rounded-lg">
        <RadzenGrid Data="@ListaRacuna" AllowFiltering="true"
                    FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive"
                    AllowPaging="true"
                    PageSize="20"
                    AllowSorting="true"
                    TItem="Bill"
                    EmptyText="Nema računa u bazi."
                    ColumnWidth="auto"
                    @ref="RadzenGrid">
            <Columns>

                <RadzenGridColumn TItem="Bill" Property="Naziv" Title="Naziv racuna" TextAlign="TextAlign.Center">
                    <EditTemplate Context="bill">
                        <RadzenTextBox @bind-Value="bill.Naziv" Style="width:100%; display: block" Name="Barcode" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="Bill" Property="DatumSlanja" Title="Datum slanja" TextAlign="TextAlign.Center">
                    <Template Context="bill">
                        @String.Format("{0:d}", bill.DatumSlanja)
                    </Template>
                    <EditTemplate Context="bill">
                        <RadzenDatePicker @bind-Value="bill.DatumSlanja" Style="width:100%" />
                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="Bill" Property="Rashod" Title="Rashod" TextAlign="TextAlign.Center">
                    <EditTemplate Context="bill">
                        <RadzenNumeric TValue="double" @bind-Value="bill.Rashod" Style="width:100%; display: block" Name="Rashod" />
                    </EditTemplate>
                </RadzenGridColumn>



                <RadzenGridColumn Title="Izmeni" TItem="Bill" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center">
                    <Template Context="bill">
                        <RadzenButton Icon="edit" Size="ButtonSize.Medium" Click="@(args => EditRow(bill))" ButtonStyle="ButtonStyle.Warning" Style="width:100%"></RadzenButton>
                    </Template>
                    <EditTemplate Context="bill">
                        <div class="row">
                            <div class="col-md-12 align-items-center d-flex">
                                <RadzenButton Icon="save" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Success" Click="@((args) => SaveRow(bill))" Style="width:50%"></RadzenButton>
                                <RadzenButton Icon="cancel" Size="ButtonSize.Medium" ButtonStyle="ButtonStyle.Danger" Click="@((args) => CancelEdit(bill))" Style="width:50%"></RadzenButton>
                            </div>
                        </div>


                    </EditTemplate>
                </RadzenGridColumn>

                <RadzenGridColumn TItem="Bill" Title="Obriši" Bubble="false" Filterable="false" Sortable="false" TextAlign="TextAlign.Center" Width="auto">
                    <Template Context="bill">
                        <RadzenButton ButtonStyle="ButtonStyle.Danger" Icon="backspace" Size="ButtonSize.Medium" Click=@((args) => CheckForDelete(bill.ID)) Style="width:100%" />
                    </Template>
                </RadzenGridColumn>
            </Columns>
        </RadzenGrid>
    </div>
}

<!-- #endregion -->

<!-- #region Snackbarovi -->

<MatSnackbar @bind-IsOpen="@snackBarIsOpen" Timeout="3000">
    <MatSnackbarContent><b>Nije dodat u bazu!</b></MatSnackbarContent>
</MatSnackbar>

<MatSnackbar @bind-IsOpen="@snackBarIsOpenChanged" Timeout="3000">
    <MatSnackbarContent><b>Ne moze da se izmeni ovaj racun !</b></MatSnackbarContent>
</MatSnackbar>

<MatSnackbar @bind-IsOpen="@snackBarIsOpenDeleted" Timeout="3000">
    <MatSnackbarContent><b>Nije obrisan!</b></MatSnackbarContent>
</MatSnackbar>

<!-- #endregion -->

<!-- #region MatiDialog -->

<MatDialog IsOpen="IsMatDialogOpen">
    <MatDialogContent>
        <RadzenFieldset Text="Razmislite dobro ">
            <b>Da li ste sigurni da hocete da obrisete ovaj racun?</b>
        </RadzenFieldset>
    </MatDialogContent>
    <MatDialogActions>
        <div class="p-4 rounded-b-md shadow-inner">
            <RadzenButton Text="Obrisi" ButtonStyle="ButtonStyle.Danger" Click="()=>DeleteBill(IDzaBrisanje)" Icon="delete"></RadzenButton>

        </div>
        <div class="p-4 rounded-b-md shadow-inner">
            <RadzenButton Text="Odustani" ButtonStyle="ButtonStyle.Secondary" Click="()=>IsMatDialogOpen=false" Icon="cancel"></RadzenButton>
        </div>

    </MatDialogActions>
</MatDialog>

<!-- #endregion -->


@code {

    private List<Bill> ListaRacuna = new List<Bill>();
    private Bill RacunZaSlanje = new Bill();
    private Bill PrimljeniRacun = new Bill();
    private Bill CancelEditRacun = new Bill();
    private int IDzaBrisanje;
    private bool showMatExpansionPanel;
    private bool snackBarIsOpen;
    private bool snackBarIsOpenChanged;
    private bool snackBarIsOpenDeleted;
    private bool IsMatDialogOpen;
    private double Zarada { get; set; } = 0;
    private Stopwatch sw = new Stopwatch();
    RadzenGrid<Bill> RadzenGrid;
    DateTime defaultDateTime = new DateTime(0001, 1, 1, 0, 0, 0);

    protected override async Task OnInitializedAsync()
    {
        var serverStream = ServiceBill.GetAllRashodBill(new EmptyMsg());
        sw.Start();
        await foreach (var racun in serverStream.ResponseStream.ReadAllAsync())
        {
            ListaRacuna.Add(ServiceConvert.ConvertCeoRacun(racun));
            ListaRacuna = ListaRacuna.OrderByDescending(b => (b.DatumSlanja.Date, b.DatumSlanja.TimeOfDay)).ToList(); //sortira po desc datum slanja, novi ubaceni su na vrh
            if (sw.ElapsedMilliseconds == 5)
            {
                StateHasChanged();
            }
        }
        sw.Stop();
    }

    #region Dodavanje Racuna
    public async Task SubmitRacun()
    {
        RacunZaSlanje.Naziv ??= string.Empty;

        var request = ServiceConvert.ConvertRashod(RacunZaSlanje);

        var response = await ServiceBill.AddBillRashodAsync(request);
        if (response.IsUpisan)
        {
            PrimljeniRacun = ServiceConvert.ConvertCeoRacun(response.BillResponse);

            ListaRacuna.Add(PrimljeniRacun);
            ListaRacuna = ListaRacuna.OrderByDescending(b => (b.DatumSlanja.Date, b.DatumSlanja.TimeOfDay)).ToList(); //sortira po desc datum slanja, novi ubaceni su na vrh
            showMatExpansionPanel = false;
            RacunZaSlanje = new Bill();
        }
        else
        {
            snackBarIsOpen = true;
        }

        StateHasChanged();
        //await InvokeAsync(RadzenGrid.Reload);

    }
    public void CancelSubmitRacun()
    {
        RacunZaSlanje = new Bill();
        showMatExpansionPanel = false;
        StateHasChanged();
    }
    #endregion

    #region Editovanje Racuna u Radzenu
    public void EditRow(Bill bill)
    {
        Console.WriteLine(bill.ID);
        CancelEditRacun = bill.ShallowCopy(); //ovo je racun koji je bio pre izmene -- original
        RadzenGrid.EditRow(bill);
    }
    public async void CancelEdit(Bill bill)
    {
        RadzenGrid.CancelEditRow(bill); //bill je onaj koji se menja, njega treba da odjebemo
        ListaRacuna.Where(b => b.ID == CancelEditRacun.ID).FirstOrDefault().Naziv = CancelEditRacun.Naziv;
        ListaRacuna.Where(b => b.ID == CancelEditRacun.ID).FirstOrDefault().DatumSlanja = CancelEditRacun.DatumSlanja;
        ListaRacuna.Where(b => b.ID == CancelEditRacun.ID).FirstOrDefault().Rashod = CancelEditRacun.Rashod;

        StateHasChanged();
        await InvokeAsync(RadzenGrid.Reload);


    }
    public async void SaveRow(Bill bill)
    {

        var response = await ServiceBill.ChangeBillRashodAsync(ServiceConvert.ConvertRashod(bill));

        if (response.IsChanged)
        {
            await RadzenGrid.UpdateRow(bill);
            ListaRacuna = ListaRacuna.OrderByDescending(b => (b.DatumSlanja.Date, b.DatumSlanja.TimeOfDay)).ToList(); //sortira po desc datum slanja, novi ubaceni su na vrh
            StateHasChanged();

        }
        else //ovo se nikad nece desiti jer ce uvek da ga nadje po Barcode-u u bazi i da ga izmeni,nema sansi da ga ne izmeni u bazi
        {
            snackBarIsOpenChanged = true;
            RadzenGrid.CancelEditRow(bill);
        }
        await InvokeAsync(RadzenGrid.Reload);

    }
    #endregion

    #region Brisanje Racuna u Radzenu

    public void CheckForDelete(int ID)
    {
        Console.WriteLine($"Ajdi koji sam uzeo je    {ID}");
        IDzaBrisanje = ID;
        IsMatDialogOpen = true;
        StateHasChanged();
    }

    public async void DeleteBill(int ID)
    {
        DeleteBillRequest request = new DeleteBillRequest();
        request.ID = ID;

        var response = await ServiceBill.DeleteBillRashodAsync(request);
        if (response.Status == true)
        {
            ListaRacuna.Remove(ListaRacuna.Where(b => b.ID == ID).FirstOrDefault());
            ListaRacuna.OrderByDescending(b => b.DatumSlanja); //sortira po desc datumslanja, novi ubaceni su na vrh
            IsMatDialogOpen = false;
            await InvokeAsync(RadzenGrid.Reload);
        }
        else
        {
            IsMatDialogOpen = false;
            snackBarIsOpenDeleted = true;
        }
        StateHasChanged();
    }

    #endregion

}
